@model IEnumerable<RoomBookingMVC.Models.Booking>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking_Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking_Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Bookingid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Bookingid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Bookingid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
